@import "./reset";
@import "./variables/global";
@import "./themes/light";
@import "./themes/dark";
@import "./themes/orange";

body {
  font: var(--font-m);
  color: var(--text);
}

.app {
  background-color: var(--bg);
  min-height: 100vh;
  transition: var(--theme-toggle-transition);
}

.content-page {
  display: flex;
}

.page-wrapper {
  flex-grow: 1;
  padding: 20px;
}

*::-webkit-scrollbar {
  width: 12px;
  height: 8px;
}
