.Button {
    cursor: pointer;
    touch-action: manipulation;
    text-transform: uppercase;
    font-size: 14px;
    border-radius: 6px;
    background: none;
    color: var(--text);
    border: none;
    box-shadow:
        rgba(50, 50, 93, 0.25) 0 2px 5px -1px,
        rgba(255, 255, 255, 0.3) 0 1px 3px -1px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: 700;
    user-select: none;
    transition: all;
    -webkit-tap-highlight-color: transparent;

    &:hover {
        transition-duration: 0.3s;
        background-color: var(--bg);
        color: var(--accent);
        box-shadow: 0 1px 1px var(--accent);
    }

    &:disabled {
        opacity: 50%;
        cursor: not-allowed;
    }

    &:active {
        filter: brightness(95%);
    }

    &:before {
        display: none;
    }

    &:-webkit-details-marker {
        display: none;
    }
}

.primary {
    &:hover {
        background-color: var(--light-bg);
    }

    &.normal {
        border: 2px solid var(--icon);
    }

    &.error {
        border: 2px solid var(--cancel);
    }

    &.success {
        border: 2px solid var(--save);
    }
}

// Button sizes
.size-s {
    padding: 4px 8px;
}

.size-m {
    padding: 6px 12px;
}

.size-l {
    padding: 8px 14px;
}

.size-xl {
    padding: 10px 16px;
}

// Font sizes
.font-s {
    font: var(--font-s);
}

.font-m {
    font: var(--font-m);
}

.font-l {
    font: var(--font-l);
}

.font-xl {
    font: var(--font-xl);
}

// Font weight
.font-weight_s {
    font-weight: 500;
}

.font-weight_m {
    font-weight: 600;
}

.font-weight_l {
    font-weight: 700;
}

.font-weight_xl {
    font-weight: 900;
}

// Mods
.disabled {
    opacity: 0.5;
}

.fullWidth {
    width: 100%;
}
